.cart-button {
 align-items: center;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;

}

label:hover {
  transform: translateX(-40px);
}